<!DOCTYPE html>
<html>
<head>
	<meta content="text/html; charset=windows-1252" http-equiv="Content-Type">
	<link href="./css/style.css" rel="stylesheet">
	<title>Create Account</title>

	<script src="js/external/vue.global.js"></script>
	<script src="js/external/vuex.global.js"></script>
	<script src="js/external/vuex-persistedstate.js"></script>
	<script src="js/external/axios.js"></script>

	<link href="https://fonts.googleapis.com" rel="preconnect">
	<link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>

<main>
	<header>
		<h1>The Ski Master Store</h1>
		<navmenu></navmenu>
	</header>

	<div class="content-div">
		<h2>
			Create an Account
		</h2>

		<form @submit.prevent="createAccount()" class="enter-details-form" id="create-account-form">

			<fieldset class="details-fieldset">
				<label for="username-input">Username:</label>
				<input class="details-input" id="username-input" required v-model="customer.username">
			</fieldset>

			<fieldset class="details-fieldset">
				<label for="firstname-input">First name:</label>
				<input class="details-input" id="firstname-input" v-model="customer.firstName">
			</fieldset>

			<fieldset class="details-fieldset">
				<label for="lastname-input">Last name:</label>
				<input class="details-input" id="lastname-input" v-model="customer.surname">
			</fieldset>

			<fieldset class="details-fieldset">
				<label for="email-input">Email:</label>
				<input class="details-input" id="email-input" v-model="customer.email">
			</fieldset>

			<fieldset class="details-fieldset">
				<label for="address-input">Address:</label>
				<input class="details-input" id="address-input" v-model="customer.addresss">
			</fieldset>

			<fieldset class="details-fieldset">
				<label for="password-input">Password:</label>
				<input class="details-input" id="password-input" required v-model="customer.password">
			</fieldset>

			<button class="submit-button advance-button" type=submit>Create account!</button>
		</form>
	</div>


	<p class="validation"></p>
</main>


<script src="js/create-account.js" type="module"></script>
</body>
</html>
