<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
        <link href = "./css/style.css" rel="stylesheet">
        <title>Create Account</title>

        <script src="js/external/vue.global.js"></script>
        <script src="js/external/vuex.global.js"></script>
        <script src="js/external/vuex-persistedstate.js"></script>
        <script src="js/external/axios.js"></script>
    </head>
    <body>

        <main>
            <navmenu></navmenu>

            <header>
                <h1>Create an Account</h1>
            </header>

            <form id = "create-account-form" @submit.prevent="createAccount()">
                <h3>Account Details</h3>
                <div>
                    <label for="username-input">Username:</label>
                    <input v-model = "customer.username" id="username-input" required>
                </div>

                <div>
                    <label for="firstname-input">First name:</label>
                    <input v-model = "customer.firstName" id = "firstname-input">
                </div>

                <div>
                    <label for="lastname-input">Last name:</label>
                    <input v-model="customer.lastName" id="lastname-input">
                </div>

                <div>
                    <label for="email-input">Email:</label>
                    <input v-model="customer.email" id="email-input">
                </div>

                <div>
                    <label for="address-input">Address:</label>
                    <input v-model = "customer.addresss" id="address-input">
                </div>

                <div>
                    <label for="password-input">Password:</label>
                    <input v-model = "customer.password" id="password-input" required>
                </div>

                <button type = submit>Create account!</button>
            </form>

            <p class = "validation"></p>
        </main>


        <script type="module" src="js/create-account.js"></script>
    </body>
</html>
