<!DOCTYPE html>
<html>
<head>
	<meta content="text/html; charset=windows-1252" http-equiv="Content-Type">
	<link href="./css/style.css" rel="stylesheet">
	<title>View Products</title>
	<script src="js/external/vue.global.js"></script>
	<script src="js/external/vuex.global.js"></script>
	<script src="js/external/vuex-persistedstate.js"></script>
	<script src="js/external/axios.js"></script>

	<link href="https://fonts.googleapis.com" rel="preconnect">
	<link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
<main>
	<header>
		<h1>The Ski Master Store</h1>
		<navmenu></navmenu>
	</header>

	<div class="content-div">
		<h2>Products</h2>

		<div id = "table-div">

			<div id="category-div">
				<button class= 'category-button' @click.prevent="getProducts()">All</button>
				<button class= 'category-button' @click.prevent="filterProducts(category)" v-for="category in categories">{{category}}</button>
			</div>

			<table id="products-table">
				<thead>
				<tr>
					<th>
						Name
					</th>
					<th>
						Category
					</th>
					<th>
						Price
					</th>
					<th>
						Stock
					</th>
					<th>
						View
					</th>
				</tr>
				</thead>
				<tbody>

				<tr v-for="product in products">
					<td>{{product.name}}</td>
					<td>{{product.category}}</td>
					<td>{{formatCurrency(product.listPrice)}}</td>
					<td>{{product.quantityInStock}}</td>
					<td>
						<form @submit.prevent="view(product)">
							<button class="view-button">View</button>
						</form>
					</td>
				</tr>

				</tbody>
			</table>
		</div>

	</div>
</main>

<script src="js/view-products.js" type="module"></script>
</body>
</html>
